.myProgress {
  width: 0%;
  background: #f6c866;
  height: 100%;
  border-radius: 25px;
}

.myBar {
  max-width: 480px;
  height: 6px;
  border-radius: 25px;
  background-color: white;
  width: 100%;
}
.progressStatus {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 24px;
  margin-bottom: 12px;
}
.microphone-image {
  width: 45.8%;
  height: 12.15%;
  margin-bottom: 39px;
}
