/* qustionIndicator */
/* wrapper */
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
:root {
  --bottomline: 1px solid rgba(255, 255, 255, 0.2);
  --bottomContentWrapper: 503px;
}
p {
  margin: 0;
}
@keyframes colorTransfusion {
  from {
    left: -10%;
  }
  to {
    left: 60%;
  }
}
@keyframes smoothEmergence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.input {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 35px;
  height: 70px;
  width: 316px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.input:hover {
  cursor: pointer;
}
.input_button {
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
  border: none;
  color: white;
  position: relative;
}
.colorTransfusion {
  width: 50%;
  left: -10%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  animation-delay: 0;
  animation: colorTransfusion 1.9s linear infinite;
  background: linear-gradient(
    248.67deg,
    rgba(255, 255, 255, 0) 33.32%,
    rgba(255, 255, 255, 0.29) 48.54%,
    rgba(255, 255, 255, 0) 66.52%
  );
}
.input:nth-child(2n) .colorTransfusion {
  animation-delay: -0.1s;
}
.input:nth-child(3n) .colorTransfusion {
  animation-delay: -0.2s;
}
.input_button_title {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
.input_button_title:hover,
.input_button_title:focus {
  cursor: pointer;
}
.article {
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.step-container__form {
  max-width: var(--bottomContentWrapper);
  height: 799px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.step-title {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #f6c866;
}
.step-title-block {
  display: flex;
  justify-content: center;
  margin-top: 74px;
}
.answers-button-block {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_form {
  margin-bottom: 35px;
}
.questionIndicator {
  font-size: 16px;
  line-height: 19px;
}
.quote-container {
  width: 100%;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--bottomline);
  max-width: var(--wrapperWidth);
}
.quote {
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.quote-rune-image {
  width: 56px;
  height: 17px;
}
.backround-items {
  position: absolute;
  height: 100%;
  width: 100%;
}
.background-items__eye1 {
  position: absolute;
  width: 297px;
  height: 156px;
  transform: rotate(-9.61deg);
  opacity: 0.2;
  right: 0;
  top: 343px;
  margin-right: -132px;
}
.background-items__eye2 {
  position: absolute;
  width: 164px;
  height: 164px;
  opacity: 0.2;
  margin-left: -43px;
  bottom: 48px;
  left: 0;
}
.quote_opacity {
  opacity: 0.6;
  max-width: 412px;
}
.footer-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9d9d9d;
  position: absolute;
  bottom: -18px;
}
.footer-container {
  position: relative;
  width: 100%;
}
.footer-text:hover,
.footer-text:focus {
  bottom: 0;
}
.qustionIndicator__block {
  position: absolute;
  bottom: 37px;
}
.background-items__eye2__slim {
  width: 90px;
  height: 90px;
  bottom: 84px;
}
.background-items__eye1__slim {
  width: 146px;
  height: 77px;
  top: -77px;
  transform: rotate(0deg);
}
.notifyBox {
  width: 480px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 54px;
  margin-bottom: 18px;
  opacity: 0;
}
.notifyBox::after {
  content: "";
  position: absolute;
  bottom: -20%;
  border: 16px solid transparent;
  border-bottom: 33px solid white;
  transform: matrix(1, 0, 0, -1, 0, 0);
  right: 35px;
}
.notifyMessage {
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #202024;
  max-width: 90.7%;
}
.notifyBox-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.notifyBox-wrapper {
  border-bottom: var(--bottomline);
  max-width: var(--wrapperWidth);
  width: 100%;
  display: flex;
  justify-content: center;
}
.smoothEmergence {
  animation: smoothEmergence linear 2.5s;
  opacity: 1;
}
.quote-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 119px;
  margin-bottom: 153px;
}
.loader-container {
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.qustionIndicator {
  font-size: 12px;
  line-height: 14px;
}
@media (max-width: 550px) {
  .answers-button-block {
    margin-top: 40px;
  }
  .input_form {
    margin-bottom: 20px;
  }
  .input {
    margin-bottom: 20px;
    height: 40px;
    width: 179px;
  }
  .input_button_title {
    font-size: 14px;
    line-height: 16px;
  }
  .step-title {
    font-size: 16px;
    line-height: 19px;
  }
  .quote-block {
    margin-top: 61px;
    margin-bottom: 97px;
  }
  .questionIndicator {
    font-size: 12px;
    line-height: 14px;
  }
  .background-items__eye1 {
    width: 83px;
    height: 44px;
    top: 224px;
    margin-right: -30px;
  }
  .background-items__eye2 {
    width: 52px;
    height: 52px;
    bottom: 73px;
    margin-left: -16px;
  }
  .footer-container {
    max-width: 294px;
  }
  .footer-text {
    font-size: 7px;
    line-height: 9px;
    bottom: -8px;
  }
  .quote-container {
    height: 124px;
  }
  .quote {
    font-size: 14px;
    line-height: 20px;
    max-width: 160px;
  }
  .step-container__form {
    height: 439px;
    width: 100%;
  }
  .background-items__eye1__slim {
    top: -45px;
  }
  .background-items__eye2__slim {
    bottom: 34px;
  }
  .step-title-block {
    margin-top: 36px;
  }
  .qustionIndicator__block {
    bottom: 46px;
  }
  .loader-container {
    height: 568px;
  }
  .notifyBox {
    width: 259px;
    height: 94px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .notifyMessage {
    font-size: 14px;
    line-height: 20px;
  }
  .notifyBox::after {
    border: 8.5px solid transparent;
    border-bottom: 17px solid white;
    right: 16px;
  }
  .quote_opacity {
    max-width: 235px;
  }
  .notifyBox-wrapper {
    max-width: 100%;
  }
}
