@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
:root {
  --avatarBackground: 344px;
  --wrapperWidth: 1440px;
}
.body-container {
  position: absolute;
  background: top right url("../../assets/top_background.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 1098px;
  margin-top: -50px;
}
.wrapper {
  max-width: var(--wrapperWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article {
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
.header_title {
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 22px;
  margin-top: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header_forecast {
  font-size: 25px;
  line-height: 29px;
  margin-top: 12px;
  margin-bottom: 64px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.astrologer_container {
  width: 100%;
  height: var(--avatarBackground);
  display: flex;
  justify-content: center;
  align-items: center;
}
.astrologer-avatar {
  width: 238px;
  height: 238px;
  position: absolute;
}
.astrologer-background {
  width: inherit;
  opacity: 0.2;
  height: inherit;
  background: center url("../../assets/astrologer_background.svg") no-repeat;
  background-size: var(--avatarBackground) var(--avatarBackground);
}
.main_question {
  font-weight: normal;
  max-width: 500px;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #f6c866;
  margin-top: 23px;
  margin-bottom: 40px;
}
.main_question__uppercase {
  text-transform: uppercase;
}
.input {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 35px;
  height: 70px;
  width: 316px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.input:hover {
  cursor: pointer;
}
.input_button {
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
  border: none;
  color: white;
  position: relative;
}
.input_button_title {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.involvementText {
  color: white;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}
.involvementText_gold {
  color: #f6c866;
}
.involvementText_gold_bold {
  font-weight: 500;
}
.aside-opensecret {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-top: 146px;
  position: relative;
  height: 437px;
  margin-bottom: 69px;
  width: 442px;
  opacity: 0;
}
.aside-opensecret__image {
  width: 135px;
  height: 135px;
  position: absolute;
  margin-top: -67.5px;
}
.aside-opensecret_text {
  margin-top: 128px;
  max-width: 365px;
}
.aside-proveit-container {
  width: 100%;
  height: 606px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}
.aside-proveit-background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../assets/proveit_background.jpg") no-repeat;
  background-size: cover;
  opacity: 0.2;
  margin-top: -190px;
  padding-top: 190px;
}
.aside-proveit-text {
  margin: 0;
  max-width: 380px;
}
p {
  margin: 0;
}
.template-container {
  overflow: hidden;
  position: relative;
}
@keyframes colorTransfusion {
  from {
    left: -10%;
  }
  to {
    left: 60%;
  }
}
@keyframes smoothEmergence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.colorTransfusion {
  width: 50%;
  left: -10%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  animation-delay: 0;
  animation: colorTransfusion 1.9s linear infinite;
  background: linear-gradient(
    248.67deg,
    rgba(255, 255, 255, 0) 33.32%,
    rgba(255, 255, 255, 0.29) 48.54%,
    rgba(255, 255, 255, 0) 66.52%
  );
}
/* .input:nth-child(2n) .colorTransfusion {
  animation-delay: -0.1s;
}
.input:nth-child(3n) .colorTransfusion {
  animation-delay: -0.4s;
} */
