@media (max-width: 1000px) {
  .aside-proveit-background-container {
    margin-top: 0px;
    padding-top: 0px;
    padding: 0 89px;
  }
  .body-container {
    width: 310%;
    margin-left: -130%;
    height: 50%;
    margin-top: -50px;
  }
}
@media (max-width: 550px) {
  :root {
    --avatarBackground: 199px;
  }
  .header_title {
    font-size: 12px;
    line-height: 14px;
    margin-top: 21px;
    margin-bottom: 11px;
  }

  .header_forecast {
    font-size: 20px;
    line-height: 23px;
    margin-top: 7px;
    margin-bottom: 37px;
  }

  .astrologer-avatar {
    width: 137px;
    height: 137px;
  }

  .main_question {
    font-size: 16px;
    line-height: 25px;
    margin-top: 13px;
    margin-bottom: 30px;
    width: 288px;
  }

  .main_article {
    font-size: 12px;
  }

  .aside-opensecret {
    margin-top: 82px;
    margin-bottom: 40px;
    width: 255px;
    height: 252px;
  }

  .aside-opensecret__image {
    width: 78px;
    height: 78px;
    margin-top: -36.5px;
  }
  .aside-opensecret_text {
    font-size: 16px;
    line-height: 25px;
    margin-top: 58px;
  }

  .aside-proveit-text {
    font-size: 16px;
    line-height: 25px;
    width: 219px;
  }

  .aside-proveit-container {
    height: 331px;
  }
  .body-container {
    height: 55%;
  }
  .step-container__fear {
    margin-top: 53px;
  }
  .answers-button-block {
    margin-top: 40px;
  }
  .input_form {
    margin-bottom: 20px;
  }
  .input {
    margin-bottom: 20px;
    height: 40px;
    width: 179px;
  }
  .input_button_title {
    font-size: 14px;
    line-height: 16px;
  }
  .step-title {
    font-size: 16px;
    line-height: 19px;
  }
  .quote-block {
    margin-top: 61px;
    margin-bottom: 97px;
  }
  .background-items__eye1 {
    width: 83px;
    height: 44px;
    top: 224px;
    margin-right: -30px;
  }
  .background-items__eye2 {
    width: 52px;
    height: 52px;
    bottom: 73px;
    margin-left: -16px;
  }
  .footer-container {
    max-width: 294px;
  }
  .footer-text {
    font-size: 7px;
    line-height: 9px;
    bottom: -8px;
  }
  /*fear of dying*/
  .footer-container__fear {
    display: block;
  }
  .footer-container__fear > .footer-text {
    font-size: 7px;
    line-height: 9px;
    bottom: 0;
  }
  /* comfort time */
  .quote-container {
    height: 124px;
  }
  .quote {
    font-size: 14px;
    line-height: 20px;
    max-width: 235px;
  }
  .step-container__form {
    height: 444px;
    width: 100%;
  }
  .background-items__eye1__slim {
    top: -45px;
  }
  .background-items__eye2__slim {
    bottom: 34px;
  }
  .step-title-block {
    margin-top: 36px;
  }
  .qustionIndicator__block {
    bottom: 46px;
  }
  .step-title__comfort {
    max-width: 288px;
  }
  /* birthdayform */
  .birthday-form-container {
    margin-top: 40px;
  }
  .isListDisplay .input_button_title-list {
    max-height: 150px;
  }
  .input_birthday-form_container_item {
    padding: 5px;
  }
  /*spinner*/
  .loader-container {
    height: 568px;
  }
  /*ShockAccept*/
  .notifyBox {
    width: 259px;
    height: 94px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .notifyMessage {
    font-size: 14px;
    line-height: 20px;
  }
  .notifyBox::after {
    border: 8.5px solid transparent;
    border-bottom: 17px solid white;
    right: 16px;
  }
  .step-title__shock {
    max-width: 302px;
  }
  /*bar*/
  .myBar {
    max-width: 259px;
  }
  /*result*/
  .resultWrapper {
    max-width: 294px;
  }
  .resultcomp-text {
    font-size: 14px;
    line-height: 16px;
  }
  .notifyMessage__result {
    font-size: 14px;
    line-height: 16px;
  }
  .forecast-block {
    margin: 25px 0 19px 0;
    max-width: 259px;
  }
  .forecast-block-text {
    margin-top: 13px;
    margin-bottom: 8px;
  }
  .call-to-button {
    max-width: 233px;
    margin-bottom: 21px;
  }
  .call-button {
    margin-bottom: 38px;
  }
  .find-events-text {
    max-width: 219px;
  }
}
