.notifyBox {
    width: 259px;
    height: 94px;
    margin-top: 24px;
    margin-bottom: 15px;
}
.notifyMessage {
    font-size: 14px;
    line-height: 20px;
}
.notifyBox::after {
    border: 8.5px solid transparent;
    border-bottom: 17px solid white;
    right: 16px;
}